<div class="w-full flex flex-col justify-center items-center my-10">
  <div class="max-w-[80%]"><h1 class="text-3xl">Hi, I am Ashok Bhati</h1></div>
  <div class="max-w-[80%] mt-3">
    Hello, I am Ashok Bhati, a passionate and skilled Web Developer with a proven track record in
    designing and implementing responsive user interfaces and developing robust server-side
    applications, I bring expertise in a variety of programming languages and frameworks. My
    experience includes working as a Full-Stack Developer and Devops. I thrive in dynamic
    environments where I can leverage my technical skills to create innovative solutions that meet
    and exceed user expectations.
  </div>
</div>
