<div class="w-full flex justify-center items-center">
  <div class="max-w-[80%] lg:min-w-[500px]">
    <div class="bg-white mt-28 py-20 pl-20">
      <div class="py-4 px-5">
        <!-- Name and Title -->
        <h1 class="text-3xl">Ashok Bhati</h1>
        <div class="font-semibold">Fullstack Developer</div>
        <!-- End Name and Title -->

        <!-- Basic Details -->
        <div class="mt-4">
          <div class="font-semibold">Phone:</div>
          <div>+91 87707 16015</div>
        </div>
        <div class="mt-4">
          <div class="font-semibold">Email:</div>
          <div>maharajatechnical@gmail.com</div>
        </div>
        <div class="mt-4">
          <div class="font-semibold">Date of Birth:</div>
          <div>December 12th, 1999</div>
        </div>
        <!-- End Basic Details -->
      </div>
    </div>
    <div class="mt-2">
      <portfolio-social-links />
    </div>
  </div>
</div>
